<div class="jumbotron vertical-center">
  <div class="container">
    <div class="row" style="background-color: #F9F9FF; width: calc(100% - 30px); padding: 30px; margin-left: 15px;">
        <div class="col-sm-12 text-center">
            <a href="#!" class="btn btn-outline-dark" id="home" style="position: absolute; left: 0;">Back</a><h2>About Me</h2>
        </div>
        <div class="col-sm-12" style="padding: 0;">
            <br />
            <p>Right from an early age, I have had an interest in IT and have been working to build on my skills independently. Whether it be using Microsoft Office creatively, or building a website such as this one, most of my knowledge comes from what I have taught myself.</p>
            <p>Currently I study Computer Science, Mathematics and Physics at A-Level. I would like to go on complete an EPQ in IT and study Computer Science at degree level. I'm not fully set on what career path I would like to take, perhaps cybersecurity or web development.</p>
            <p>Most of my independent work is centered around Computer Science. My speciality is web development - specifically using HTML, CSS, JQuery & NodeJS. In the past I have also created desktop applications in VB.net and basic programs using Batch and Python.</p>
            <p>This site is designed to act as an online portfolio for my work. Choosing the Projects button on the homepage will show you some of my recent work. More are available if you're interested, so please get in touch if you would like to see the rest.</p>
        </div>
    </div>
  </div>
</div>