<div class="jumbotron vertical-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-8 col-sm-10 text-center" style="margin: auto;">
        <div class="card fade-1" style="opacity: 0; transition: all 500ms; -webkit-transition: all 500ms;">
          <div class="card-body">
            <div id="profile-image-wrapper" style="width: 92px;">
              <img src="/img/icon.png" id="profile-image" class="fade-2" style="opacity: 0; transition: all 500ms; -webkit-transition: all 500ms;" />
            </div>
            <h2 class="fade-2" style="opacity: 0; transition: all 500ms; -webkit-transition: all 500ms;">Sam Hirst</h2>
            <h4 class="text-custom-1 fade-2" style="opacity: 0; transition: all 500ms; -webkit-transition: all 500ms;">Computer Science Student</h4>
            <br />
            <p class="fade-3" style="opacity: 0; transition: all 500ms; -webkit-transition: all 500ms;"><strong>BORN:</strong> 24th December 2001</p>
            <p class="fade-3" style="opacity: 0; transition: all 500ms; -webkit-transition: all 500ms;"><strong>EMAIL:</strong> Sam@hirst.xyz</p>
            <p class="fade-3" style="opacity: 0; transition: all 500ms; -webkit-transition: all 500ms;"><strong>LOCATION:</strong> Manchester, UK</p>
            <p class="fade-3" style="opacity: 0; transition: all 500ms; -webkit-transition: all 500ms;"><strong>KEY SKILLS:</strong> HTML, CSS, JQuery & NodeJS</p>
          </div>
        </div>
        <br />
        <a href="#!" class="btn btn-outline-light fade-4" style="opacity: 0; transition: all 500ms; -webkit-transition: all 500ms;" id="about">About Me</a>
        <a href="#!" class="btn btn-outline-light fade-4" style="opacity: 0; transition: all 500ms; -webkit-transition: all 500ms;" id="projects">Projects</a>
        <a href="#!" class="btn btn-outline-light fade-4" style="opacity: 0; transition: all 500ms; -webkit-transition: all 500ms;" id="contact">Contact</a>
      </div>
    </div>
  </div>
</div>