<div class="jumbotron vertical-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center" style="margin: auto;">
        <div class="card fade-1" style="opacity: 0; transition: all 500ms; -webkit-transition: all 500ms;">
          <div class="card-body">
            <h2 class="fade-2" style="opacity: 0; transition: all 500ms; -webkit-transition: all 500ms;">Error 418</h2>
            <h4 class="text-custom-1 fade-2" style="opacity: 0; transition: all 500ms; -webkit-transition: all 500ms; margin: 0;">That's still to come!</h4>
          </div>
        </div>
        <br />
        <a href="#!" class="btn btn-outline-light fade-3" style="opacity: 0; transition: all 500ms; -webkit-transition: all 500ms;" id="home">Return to Home</a>
      </div>
    </div>
  </div>
</div>