{% extends "../template.html" %}

{% block content %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">Sam Hirst</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Welcome to my web page!</h1>
    <p class="lead">It's not finished yet, but there will (probably) be some pretty cool stuff here soon.</p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Contact me by email at <a href="mailto:SamuelJHirst@outlook.com">SamuelJHirst@outlook.com</a>.</p>
    </div>
  </footer>
</div>

{% endblock %}