body {
    background-color: #4B379A;
}

.text-custom-1 {
    color: #B4C865;
}

#profile-image-wrapper {
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    top: -65px;
    padding: 10px;
    margin: auto;
    margin-bottom: -55px;
}

.jumbotron {
    background-color: inherit;
    margin: 0;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}