.wrapper {
    height: 100%;
    overflow: hidden;
}

.sidebar {
    background-color: #212121;
    height: 100%;
}

.main {
    background-color: #607d8b;
    height: 100%;
}

.fab {
    position: fixed !important;
    top: 8px !important;
    left: 8px !important;
    opacity: 0.5;
}